// $icon-font-path: '../fonts/';
$color-main: #226086;

$color-focus: #F7931E;
@import "xankstrap/xankstrap.scss";
@import "ele-mixin.scss";
@import "ele-tool.scss";
@import "plus/animate.scss";
@import "plus/bg_main.scss";
@import "plus/bg_snow.scss";
@import "plus/rzslider.scss";
@import "plus/bg_floating.scss";
@import "lightgallery/lightgallery.scss";
@import "xanke/home.scss";
@import "xanke/panels.scss";




#star svg {
  width: 100%;

  #starme{
    // fill: #F7931E;
    fill: #FFF;
    // fill: rgba(255, 255, 255, .9);
  }
}

.focus{


  svg{
    animation: tada 1.5s infinite;

  }
}

#outer_glow {
  opacity: 0;
  // animation: explodeem 1s infinite ease;
}

#inner_glow {
  opacity: 0;
  // animation: explodeem .5s infinite ease;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1)
  }
  10%,
  20% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -3deg)
  }
  100% {
    transform: scale3d(1, 1, 1)
  }
}

@keyframes explodeem {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes border_blink {
  0% {
    border-color: $color-focus;
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
  }
  100% {
    border-color: $color-focus;
  }
}
