<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>xank webtool</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/lightgallery/dist/css/lightgallery.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/ifvisible.js/src/ifvisible.js"></script>
  <script src="../bower_components/lightgallery/lib/jquery.mousewheel.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/ng-websocket/ng-websocket.js"></script>
  <script src="../bower_components/angular-uuid/uuid.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/plugins.js -->
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/admin.js"></script>
  <script src="scripts/index.js"></script>
  <script src="scripts/bg.js"></script>
  <script src="scripts/plus_bg/snow.js"></script>
  <!-- endbuild -->
</head>

<body data-ng-app="app" ng-controller="appCtrl">
  <div class="container" ng-controller="adminCtrl">
    <section class="panel">
      <div class="panel-heading">
        操作
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="" class="btn btn-default" ng-click="login()">登录</a>
        </li>
        <li class="list-group-item"><a href="" class="btn btn-default" ng-click="send()">发送</a></li>
        <li class="list-group-item">
          <a href="" class="btn btn-default" ng-click="action('lcdClose')">关闭显示器</a>
          <a href="" class="btn btn-primary" ng-click="action('lcdOpen')">开启显示器</a>
          <a href="" class="btn btn-primary" ng-click="action('lcdRest')">刷新</a>
        </li>
        <li class="list-group-item">
          <a href="" class="btn btn-default" ng-click="setBg('')">清除背景</a>
          <a href="" class="btn btn-default" ng-click="setBg('snow')">设置背景1</a>
          <a href="" class="btn btn-default" ng-click="setBg('float')">设置背景2</a>
        </li>
      </ul>
    </section>



    <section class="panel">
      <div class="panel-heading">
        推送
      </div>
      <div class="list-group">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="btn btn-default" ng-click="push(0)">文字</a>
            <a class="btn btn-default" ng-click="push(1)">文字</a>
            <p>{{panelNum}}</p>
          </li>
        </ul>
      </div>
    </section>
  </div>

  </div>
</body>

</html>
