<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>xank webtool</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/lightgallery/dist/css/lightgallery.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/wow/dist/wow.js"></script>
  <script src="../bower_components/ifvisible.js/src/ifvisible.js"></script>
  <script src="../bower_components/letteringjs/jquery.lettering.js"></script>
  <script src="../bower_components/lightgallery/lib/jquery.mousewheel.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/ng-websocket/ng-websocket.js"></script>
  <script src="../bower_components/angular-uuid/uuid.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/plugins.js -->
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/admin.js"></script>
  <script src="scripts/index.js"></script>
  <script src="scripts/bg.js"></script>
  <script src="scripts/plus_bg/snow.js"></script>
  <!-- endbuild -->
</head>

<body data-ng-app="app" ng-controller="appCtrl">
  <div class="container" ng-controller="homeCtrl">
    <!-- <p>{{host}}</p> -->
    <!--     <div class="panel panel-xk panel-wea">
      <h1>气温</h1>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-t_box">
            <h1>气温</h1>
            <span class="t_num">28</span>
          </div>
          <div class="col-xs-6 col-t_box">
            <h1>湿度</h1>
            <span class="t_num">28</span>
          </div>
        </div>
      </div>
    </div> -->
    <!--     <div class="panel panel-xk istop  wow fadeInUp">
      <div class="box">
        置顶
      </div>

    </div>

    <div class="panel panel-xk focus  wow fadeInUp">
      <div class="box">
        置顶
      </div>
    </div>
    <div class="panel panel-xk  wow fadeInUp">
      <div class="box">
        置顶
      </div>
    </div>
 -->
    <!-- <div class="btn btn-default">获取推送</div> -->
    <div class="panels" ng-controller="panelsCtrl">
      <div class="panel panel-xk animated fadeInUp" style="animation-delay:{{db.delay}}s;" ng-class="{1: 'focus', 2: 'out'}[db.focus]" ng-repeat="db in panel" ng-if="db.open">
        <div class="box" ng-if="db.type == 0">
          <h1>{{db.text}}</h1>
        </div>
        <div class="box" ng-if="db.type == 1">

            <!-- <p>{{db.content.title}}</p> -->


            <p class="p_title">{{db.content.title}}</p>
            <span class="s_description">{{db.content.description}}</span>
            <div class="img-box" style="background-image:url({{db.content.picUrl}})" ng-if="db.content.picUrl">
              <!-- <img ng-src="" alt=""> -->
              <!-- <span class="s_time">{{db.content.ctime | date : 'MM-dd h:mm:ss'}}</span> -->
            </div>
            <div class="btn-group">
              <a class="btn-lg btn-primary btn" href="" ng-click="likePost(db.content.id)">收藏</a>
            </div>

        </div>
      </div>
    </div>
    <div class="bg">
      <div class="bg-box" ng-switch="bgName">
        <div class="animate-switch animate-switch-container bg-snow" ng-switch-when="snow"></div>
        <div class="animate-switch animate-switch-container bg-float" ng-switch-when="float">
          <div class="back"></div>
          <div class="front"></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="backdropCtrl">
    {{$scope.backdrop}}
    <div class="xk-backdrop" ng-class="{true:'in', false: 'as'}[backdrop.start]" ng-if="backdrop.open">
    </div>
  </div>
  <script type="text/javascript">
  </script>
</body>

</html>
