.bg{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  z-index: -1;

  .landscape{
    bottom: 0px;
    left: 0px;
    width: 100%;
    // top: 0px;
    position: absolute;
  }
  canvas{
    width: 100%;
    height: 100%;
    z-index: 111;
  }
}

$snow: #eee;
$crater: rgba(0,0,0,.1);

$black1: #234;
$black3: lighten($black1, 4%);
$black4: lighten($black1, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
}


.landscape {
  height: 100%;
  background: $black1;
  overflow: hidden;
}

.moon {
  position: absolute;
  left: 55%;
  bottom: 100px;
  width: 350px;
  height: 350px;
  margin: 0 0 0 -50px;
  border-radius: 50%;
  background: #ccc;
}

.moon:after {
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $crater;
  box-shadow:
    120px 80px 0 $crater,
    100px -60px 0 -20px $crater,
    -70px 40px 0 -20px $crater,
    -20px -50px 0 -15px $crater,
    -20px 120px 0 -15px $crater,
    50px 50px 0 -15px $crater;
    ;
}

.tree {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -320px;
}

.tree div {
  position: relative;
  float: left;
  display: block;
  width: 6px;
  height: 8px;
  margin: 0 30px -5px 0;
  background: $snow;
}

.tree div:before {
  bottom: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: $snow;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}

.tree div:after {
  bottom: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: $snow;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.tree div span:before {
  bottom: 22px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: $snow;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.tree div span:after {
  bottom: 28px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: $snow;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}

.hills {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.hills div {
  overflow: hidden;
  border-radius: 8%;
  transform: rotate(45deg);
}

.hills div:nth-child(1),
.hills div:nth-child(2),
.hills div:nth-child(3) {
  position: absolute;
  bottom: -350px;
  width: 500px;
  height: 500px;
  background: $black3;
}

.hills div:nth-child(1) {
  left: -750px;
}

.hills div:nth-child(2) {
  left: -250px;
}

.hills div:nth-child(3) {
  left: 250px;
}

.hills div:nth-child(4),
.hills div:nth-child(5) {
  position: absolute;
  bottom: -400px;
  left: -600px;
  width: 500px;
  height: 500px;
  background: $black4;
}

.hills div:nth-child(4) {
  left: -500px;
}

.hills div:nth-child(5) {
  left: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Codepen Preview Mode */

@media only screen and (max-height: 450px) {
  .landscape {
    margin-top: -270px;
  }
}
