<div class="container">
  <!-- <a href="" class="btn btn-default">登录</a> -->
  <!-- <a href="" class="btn btn-default">新闻</a> -->
  <section class="section-login">
    <h1>登录</h1>
    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input autocomplete="off" type="email" class="form-control" placeholder="邮箱">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input autocomplete="off" type="password" class="form-control" placeholder="密码">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div>
      <button type="submit" class="btn btn-primary btn-block">登录</button>
    </form>
    <div class="test-group">
      <a class="btn-default btn">新闻测试</a>
    </div>
  </section>




      <md-button>111</md-button>





</div>
