

  <div class="container">

    <section>
      <h1>{{data.name}}</h1>
    </section>
    <a href="#/pic" class="btn btn-lg btn-primary">返回</a>

    <ul class="ul-pic">
      <li light-gallery ng-repeat="photo in data.list"  data-src="{{photo.full_src}}">
        <a class="item"><img ng-src="//p.xank.cn/size_w500/{{photo.path}}"  onload="imgok(this)" />

        <div class="gallery-poster">
            <img src="img/zoom.png">
        </div></a>
      </li>
    </ul>

</div>


            <!-- <h3 class="title">{{db.name}}</h3> -->
            <!-- <p>{{db.count}}</p> -->
